<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand" href="index.html">Cyzer Docs</a>

    <!-- Drawer -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Menu -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://cyzer-docs.loc/index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usage Guide</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item" href="#">How to Install Cyzer</a>
            <a class="dropdown-item" href="#">Best Practices</a>
          </div>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Developers Guide</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item" href="#">Directory Structure</a>
            <a class="dropdown-item" href="admin/controllers/ajax/app-deploy/upload.html">Admin Directory</a>
            <a class="dropdown-item" href="boot/cyz-shutdown.html">Boot Directory</a>
            <a class="dropdown-item" href="comp/core/functions/read-header.html">Comp Directory</a>
            <a class="dropdown-item" href="lib/cmd/main.html">Lib Directory</a>
            <a class="dropdown-item" href="routing/cyz-dir.html">Routing Directory</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Updates</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
